.about {
  background-color: rgba(29, 29, 29, 1);
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  padding-left: calc(150px + 5rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-left {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.about-heading {
  color: #08fdd8;
  font-family: Inconsolata;
  font-size: 86px;
}
.about-heading::after {
  bottom: -42px;
}
.about-para {
  color: white;
  max-width: 500px;
  line-height: 26px;
}

@media (max-width: 1080px) {
  .about {
    padding: 5rem;
  }
  .about-heading {
    font-size: 62px;
  }
  .about-heading::before {
    top: -22px;
  }
  .about-heading::after {
    bottom: -35px;
  }
}

@media (max-width: 600px) {
  .about {
    padding: 2.5rem;
  }
}

@media (max-width: 440px) {
  .about-heading {
    font-size: 48px;
  }
  .about-heading::before {
    top: -18px;
  }
  .about-heading::after {
    bottom: -25px;
  }
}

@media (max-width: 340px) {
  .about {
    padding: 2rem;
  }
}
