.project-container {
  --project-height: 400px;
  height: var(--project-height);
  overflow: hidden;
  position: relative;
  transform-origin: left;
  user-select: none;
}

.project-animated {
  height: max-content;
  width: 100%;
  transition: all 0s ease;
  transition-delay: 0.5s;
}

.project-static {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project:hover {
  transform: translateY(calc(-100% + var(--project-height)));
}

.project-popup {
  --scale: 0;
  --size: 150px;

  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: var(--size);
  height: var(--size);
  font-size: 20px;
  font-family: "Inconsolata";
  background-color: #08fdd8;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  padding: calc(var(--size) * 0.35) calc(var(--size) * 0.35) 0px 0px;
  transform: translate(50%, -50%) scale(var(--scale));
  z-index: 10;
  transition: all 0.25s ease;
  transform-origin: "top right";
  color: black;
}
.project-container:hover .project-popup {
  --scale: 1;
}
.overlay {
  position: absolute;
  background-color: black;
  inset: 0;
  opacity: 0;
  z-index: 1;
  transition: all 0.25s ease;
  pointer-events: none;
}
.project-container:hover .overlay {
  opacity: 0.4;
}

@media (max-width: 600px) and (min-width: 400px) {
  .project-popup {
    width: clamp(75px, 18.75vw, 100px);
    height: clamp(75px, 18.75vw, 100px);
    font-size: 16px;
  }
}
@media (hover: none) {
  .project-popup {
    content: "Click to view the project";
    border-radius: 0 0 24px 24px;
    top: 0;
    left: 50%;
    padding: 10px 20px;
    height: fit-content;
    width: 75%;
    transform: translateX(-50%) scale(1);
  }
  .overlay {
    opacity: 0.4;
  }
}
