@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;900&family=La+Belle+Aurore&display=swap");

.home {
  background: rgba(29, 29, 29, 1);
  min-height: 100vh;
  margin-left: 150px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pop-up {
  position: fixed;
  bottom: 50px;
  right: -100%;
  width: 250px;
  font-family: "Open Sans", sans-serif;
  background-color: black;
  transition: all 0.4s;
  padding: 16px;
  z-index: 10;
}

.show-pop-up {
  right: 50px;
}

.move-pop-up-1 {
  bottom: 110px;
}

/* Section 1 Styling */

.section1 {
  padding-left: 5rem;
  font-family: Inconsolata;
  min-height: max(550px, 100vh);
  max-height: 1080px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.letter {
  display: inline-block;
  width: fit-content;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  visibility: hidden;
  opacity: 0;
  margin: 0.5rem 0;
}

.contact-btn {
  opacity: 0;
  margin-top: 1.5rem;
  transform: translateY(50px);
  animation: fadeUp 0.5s ease 2s 1 forwards;
}

.show-letter {
  visibility: visible;
  opacity: 1;
}

.animate-enter {
  animation: showLetter 0.4s ease 0.2s 1 forwards;
}

.letter:hover {
  color: #08fdd8;
}

.section1-heading .letter:is(:nth-child(6), :nth-child(3), :nth-child(14)) {
  margin: 0 -10px;
}

.section1-heading::after {
  left: auto;
  bottom: -25px !important;
  right: -50px;
}

.section1-title {
  color: hsla(240, 3%, 58%, 1);
  font-weight: normal;
  position: relative;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 4px;
  margin-top: 4px;
  transform: translateY(50px);
  opacity: 0;
  animation: fadeUp 0.5s ease 2s 1 forwards;
}

.section1-title::before {
  content: "<p>";
  font-family: "La Belle Aurore", cursive;
  color: #909096;
  font-size: 16px;
  opacity: 0.3;
  position: absolute;
  top: -25px;
  left: -15px;
}

.section1-title::after {
  content: "</p>";
  font-family: "La Belle Aurore", cursive;
  color: #909096;
  font-size: 16px;
  opacity: 0.3;
  position: absolute;
  bottom: -25px;
  left: -15px;
}

.scroll-down {
  position: absolute;
  transform: rotate(90deg);
  animation: scrollTextAnimation 1s cubic-bezier(0.57, 0.57, 0.57, 0.57) 0s
    infinite;
}

.left-text {
  left: 140px;
}

.left-arrow {
  position: absolute;
  left: 177px;
  bottom: 20px;
}

.right-arrow {
  position: absolute;
  right: 28px;
  bottom: 10px;
}

.right-text {
  right: -10px;
}

/* Section 2 Styling */

.section2 {
  padding: 5rem 5rem 0;
  font-family: Inconsolata;
  min-height: max(550px, 100vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.section2-heading {
  font-size: 72px;
  color: #08fdd8;
}

.section2-heading::before {
  top: -35px;
}

.section2-heading::after {
  left: -15px;
  bottom: -40px;
}

.section2-div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3rem;
}

.work-link {
  color: #08fdd8;
  text-decoration: none;
  position: relative;
}

.section2-para::after {
  bottom: -30px;
}

.see-more {
  text-decoration: none;
}

.work-link:hover {
  opacity: 0.6;
}

.projects-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  justify-content: center;
  margin: 3rem 0;
}
.project::-webkit-scrollbar {
  display: none;
}
.project {
  background-repeat: no-repeat;
  background-size: cover;
  overflow: scroll;
  display: flex;
  justify-content: center;
  height: 400px;
  border-radius: 12px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: relative;
  cursor: pointer;
  background-position: top;
  transition-delay: 1.5s;
}

.project1 {
  background-image: url("../../Assets/Project Screenshots/moz.jpeg");
  transition-duration: 90s;
}

.project2 {
  background-image: url("../../Assets/Project Screenshots/R3.png");
  transition-duration: 73.47342398022249s;
}

.project3 {
  background-image: url("../../Assets/Project Screenshots/e-commerce.jpeg");
  transition-duration: 10.556242274412854s;
}

.project4 {
  background-image: url("../../Assets/Project Screenshots/space.jpeg");
  transition-duration: 9.159456118665018s;
}

.project5 {
  background-image: url("../../Assets/Project Screenshots/clipboard.jpeg");
  transition-duration: 55.88380716934487s;
}

.project6 {
  background-image: url("../../Assets/Project Screenshots/huddle.jpeg");
  transition-duration: 46.600741656365884s;
}

.project:hover {
  background-position: bottom;
}

/* Section 3 Styling */

.section3 {
  font-family: Inconsolata;
  padding: 10rem 5rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  text-align: center;
  background: rgb(36, 35, 35);
  position: relative;
  overflow-x: hidden;
}

.section3::before {
  content: "";
  position: absolute;
  top: 0;
  border-left: 100vw solid transparent;
  border-right: 100vw solid transparent;
  border-top: 175px solid rgba(29, 29, 29, 1);
  transform: translateY(-75px);
}

.section3-heading {
  color: white;
  width: fit-content;
  display: inline-flex;
  gap: 2rem;
  font-size: 46px;
  flex-wrap: wrap;
  line-height: 24px;
  position: relative;
}

.section3-heading::before {
  width: 50%;
  height: 4px;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.section3-para {
  width: 60%;
  line-height: 28px;
  font-size: 20px;
  color: #08fdd8;
}

.socials {
  display: flex;
  gap: 2.5rem;
}

.social-icon {
  font-size: 42px;
  color: white;
}

.email-para {
  color: white;
  font-size: 20px;
}

.email {
  color: #08fdd8;
}

/* Animations */

@keyframes scrollTextAnimation {
  0% {
    bottom: 83px;
  }

  50% {
    bottom: 98px;
  }

  100% {
    bottom: 83px;
  }
}

@keyframes headingOpacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.3;
  }
}

@keyframes showLetter {
  0% {
    transform: scale(1);
  }

  33% {
    transform: scale(1.1);
  }

  66% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes letterJump {
  0% {
    transform: scale(1);
  }

  40% {
    transform: scale(1.5, 0.7);
  }

  50% {
    transform: scale(1, 1.25);
  }

  60% {
    transform: scale(1.25, 0.8);
  }

  80% {
    transform: scale(0.8, 1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes fadeUp {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-height: 600px) {
  .scroll-down {
    display: none;
  }
  .arrow-down {
    display: none;
  }
}
@media screen and (max-width: 1080px) {
  .home {
    margin-left: 0;
  }
  .left-text {
    left: -10px;
  }
  .show-pop-up {
    right: 25px;
  }
  .section2-para {
    width: 90%;
  }
  .section3::before {
    border-left: 150vw solid transparent;
    border-right: 150vw solid transparent;
  }
  .left-arrow {
    left: 28px;
  }
}
@media screen and (max-width: 860px) {
  .contact-btn {
    margin-top: 1rem;
  }
  .section2-heading {
    font-size: 52px;
  }
  .section1-heading .letter:is(:nth-child(6), :nth-child(3), :nth-child(14)) {
    margin: 0 -7px;
  }
  .section1-heading::after {
    bottom: -10px !important;
    right: -45px;
  }
  .section2 {
    gap: 2rem;
  }
  .section2-div {
    flex-direction: column;
  }
  .section3 {
    padding: 10rem 0 3rem;
  }
  .section3-para {
    width: 90%;
  }
  .section2-para {
    width: 100%;
  }
}
@media screen and (max-width: 792px) {
  .projects-gallery {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
  }
  .project {
    height: 300px;
  }
}
@media screen and (max-width: 600px) {
  .section1 {
    padding: 2.5rem;
  }
  .section2 {
    padding: 5rem 2.5rem 0;
  }
  .section3::before {
    border-left: 200vw solid transparent;
    border-right: 200vw solid transparent;
  }
}
@media screen and (max-width: 550px) {
  .section1-heading .letter:is(:nth-child(6), :nth-child(3), :nth-child(14)) {
    margin: 0 -5px;
  }
  .section2 {
    padding: 5rem 0 0;
  }
  .section2-heading,
  .section2-div {
    padding: 0 2.5rem;
  }
  .projects-gallery {
    padding: 0 1rem;
  }
  .section2-heading::after {
    left: 25px;
    bottom: -35px;
  }
  .section2-heading::before {
    left: 25px;
    top: -20px;
  }
  .project {
    height: 250px;
  }
}
@media screen and (max-width: 447px) {
  .project {
    height: 400px;
  }
}
@media screen and (max-width: 430px) {
  .section2 {
    gap: 1rem;
    padding: 5rem 0 0;
  }
  .section2-para {
    margin-bottom: 0;
    margin-top: 0.5rem;
    font-size: 15px;
  }
  .section2-div {
    gap: 2rem;
  }
  .section1-heading .letter:is(:nth-child(6), :nth-child(3), :nth-child(14)) {
    margin: 0 -3px;
  }
  .section1 {
    gap: 2rem;
  }
  .section1-title {
    font-size: 16px;
  }
  .section2-heading {
    font-size: 46px;
  }
}
@media screen and (max-width: 375px) {
  .section1-heading {
    font-size: 34px;
    line-height: 18px;
  }
  .section2-heading {
    font-size: 40px;
  }
}
