.skill {
  background-color: rgba(29, 29, 29, 1);
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  padding-left: calc(150px + 5rem);
  padding-right: 5rem;
  padding-block: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}
.skill-left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.skill-heading {
  color: #08fdd8;
  font-family: Inconsolata;
  font-size: 62px;
  line-height: 36px;
}
.skill-heading::before {
  top: -25px;
}
.skill-para {
  color: white;
  max-width: 525px;
  line-height: 26px;
}
.skill a {
  color: #08fdd8;
  text-decoration: none;
  position: relative;
}
.skill a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: right;
  background-color: #08fdd8;
  transition: transform 0.2s;
}
.skill a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}
.skill-right {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: white;
  font-family: sans-serif;
  font-weight: 600;
  width: 50%;
}
.skill-bar {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}
.bar {
  width: 100%;
  height: 2px;
  position: relative;
  background-color: #373737;
}
.bar::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.html::before {
  background-color: #08fdd8;
  width: 90%;
}
.css::before {
  width: 80%;
  background-color: rgb(255, 34, 83);
}
.js::before {
  width: 75%;
  background-color: rgb(210, 108, 213);
}
.react::before {
  width: 75%;
  background-color: #08fdd8;
}
.tailwind::before {
  width: 80%;
  background-color: #38bdf8;
}
.next::before {
  width: 70%;
  background-color: #ffff00;
}

@media (max-width: 1080px) {
  .skill {
    padding: 5rem;
    flex-direction: column;
    align-items: flex-start;
  }
  .skill-left,
  .skill-right,
  .skill-bar {
    width: 100%;
  }
  .skill-para {
    width: 100%;
    max-width: 1080px;
  }
}
@media (max-width: 720px) {
  .skill {
    padding: 5rem 3rem;
  }
}
@media (max-width: 440px) {
  .skill-left {
    gap: 0.5rem;
  }
  .skill-heading {
    font-size: 44px;
    line-height: 26px;
    margin-bottom: 15px;
  }
  .skill-heading::before {
    top: -18px;
  }
  .skill-heading::after {
    bottom: -30px;
  }
}
@media (max-width: 340px) {
  .skill {
    padding: 5rem 2rem;
  }
  .skill-heading {
    font-size: 38px;
    line-height: 22px;
  }
}
