* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-bar {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  position: fixed;
  left: 0;
  width: 150px;
  background-color: #181818;
  align-items: center;
  height: 100vh;
  z-index: 10;
  transition: all 0.2s ease;
}
.nav-bar-top {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  gap: 1rem;
  width: 100%;
  font-family: Inconsolata;
}
.name {
  text-decoration: none;
  color: white;
  font-size: 32px;
  text-align: center;
  line-height: 26px;
  line-height: 32px;
}
.title {
  color: #909096;
  text-align: center;
  font-size: 15px;
}
.nav-link {
  text-decoration: none;
  color: #909096;
  font-family: Inconsolata;
}
.nav-links {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.nav-link {
  font-size: 24px;
  padding: 1rem 0;
  border-top: 1px solid hsla(240, 3%, 58%, 0.3);
  width: 100%;
  text-align: center;
}
.nav-link:nth-last-child(1) {
  border-bottom: 1px solid hsla(240, 3%, 58%, 0.3);
}
.hammenu-btn {
  display: none;
  font-size: 32px;
  width: 50px;
  height: 50px;
  border: none;
  background-color: hsla(0, 0%, 0%, 0.2);
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 6px;
  cursor: pointer;
  z-index: 11;
}
.hammenu-btn:hover {
  background-color: hsla(0, 0%, 0%, 0.4);
}
.hammenu-btn-img {
  display: none;
}
.show {
  display: block;
}
.slide-nav {
  top: 0 !important;
  opacity: 1 !important;
}
.nav-socials {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.nav-social {
  color: white;
  font-size: 20px;
  transition: all 0.2s ease;
  cursor: pointer;
  color: #909096;
}
.nav-social:hover {
  color: #08fdd8;
}

@media screen and (max-width: 1080px) {
  .nav-bar {
    width: 100%;
    top: -100%;
    opacity: 0;
  }
  .nav-bar-top {
    padding: 3rem 0;
  }
  .hammenu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
