.work {
  --grid-columns: 4;
  background-color: rgba(29, 29, 29, 1);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  padding-left: 150px;
  min-height: 100vh;
}
.work-project-container {
  height: 50vh;
  overflow: hidden;
  position: relative;
  transform-origin: left;
  transform: scaleX(1.001);
  user-select: none;
}
.work-project {
  width: 100%;
  transition: all 0s ease;
}
.work-project-container:hover .work-project {
  transform: translateY(calc(-100% + 400px));
}
.work-project-container::before {
  content: "View Project";
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  width: 125px;
  height: 125px;
  font-size: 20px;
  font-family: "Inconsolata";
  background-color: #08fdd8;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: 10;
  transition: all 0.25s ease;
  color: black;
}
.work-project-container:hover::before {
  transform: translate(-50%, -50%) scale(1);
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
  background-color: black;
  opacity: 0;
  transition: all 0.25s ease;
}
.work-project-container:hover .overlay {
  opacity: 0.4;
}

/* Transition Duration */

.clipboard {
  transition-duration: 55.88380716934487s;
}
.storage-component {
  transition-duration: 7.700865265760197s;
}
.dropdown {
  transition-duration: 9.604449938195302s;
}
.e-commerce {
  transition-duration: 10.556242274412854s;
}
.flocked {
  transition-duration: 18.986402966625462s;
}
.fylo {
  transition-duration: 32.48454882571075s;
}
.grid-component {
  transition-duration: 23.189122373300368s;
}
.huddle {
  transition-duration: 46.600741656365884s;
}
.moz {
  transition-duration: 90s;
}
.nft-component {
  transition-duration: 7.700865265760197s;
}
.order-summary {
  transition-duration: 7.700865265760197s;
}
.price-component {
  transition-duration: 10.778739184177997s;
}
.qr-code-component {
  transition-duration: 7.700865265760197s;
}
.r3 {
  transition-duration: 73.47342398022249s;
}
.rating-component {
  transition-duration: 7.700865265760197s;
}
.space {
  transition-duration: 9.159456118665018s;
}
.stats-preview-card {
  transition-duration: 13.485784919653893s;
}
